<!-- views/contact.ejs -->
<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
  <h2>Send us a message</h2>
  <% } else { %>
  <h2 class="errors-heading">Oops, please correct the following:</h2>
  <ul class="errors-list">
    <% Object.values(errors).forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
</div>

<% if (messages) { %>
<div id="msg" class="flash flash-success"><%= messages %></div>
<% } %>

<form method="post" action="/enviar" novalidate>
  <div class="form-field <%= errors.name ? 'form-field-invalid' : '' %>">
    <label for="name">Nome</label>
    <textarea class="input" id="name" name="name" rows="4" autofocus><%= data.name %></textarea>
    <% if (errors.name) { %>
    <div class="error"><%= errors.name.msg %></div>
    <% } %>
  </div>
  <div class="form-field <%= errors.price ? 'form-field-invalid' : '' %>">
    <label for="price">Preco</label>
    <input class="input" id="price" name="price" type="number" value="<%= data.price %>" />
    <% if (errors.price) { %>
    <div class="error"><%= errors.price.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
      $("#msg").fadeOut(3000);
    });
</script>